<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093802060725-avqaha30jhp99ct1ri8megpvih8bubjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093802060725-avqaha30jhp99ct1ri8megpvih8bubjb</string>
	<key>API_KEY</key>
	<string>AIzaSyA2CqgQaOC1jQjhyf4b6z3WVJhUrUk33iA</string>
	<key>GCM_SENDER_ID</key>
	<string>1093802060725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hanseong.hansung.ac.kr.BHS-termProject</string>
	<key>PROJECT_ID</key>
	<string>iostermproject-98562</string>
	<key>STORAGE_BUCKET</key>
	<string>iostermproject-98562.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093802060725:ios:0518c96d1ffab2a36547fc</string>
</dict>
</plist>